/* ----------------------------

CSS TABLE OF CONTENTS 

# GLOBAL CSS
    # TYPOGRAPHY
        # BODY
        # HEADINGS
        # LINKS
        # HORIZONTAL RULE
        # HELPERS
        # TYPE SPECIMEN
    # BUTTONS
    # MEDIA 
        # IMG
    # LAYOUT
        # MEDIA QUERIES
        # CONTAINER
        # RESPONSIVE TYPE
    #GRID
        # SEMANTIC COLUMNDS (1/2, 1/3, etc)
        # GRID HELPERS (Swap, center)
    # STRUCTURE
        # SITE-HEADER
        # SITE-FOOTER
        # SITE-NAV
        # SECTIONS
            # HERO SECTIONS
   

---------------------------- */
/* BODY */
body {
  font-family: "lino-type sabon", "caslon", serif;
  font-size: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.85); }

/*  HEADING */
h1, h2, h3 {
  margin: .25em 0; }

h1 {
  font-family: "lino-type sabon", "caslon", serif;
  font-size: 5em;
  line-height: 1; }

h2 {
  font-family: "franklin-gothic-extra-compre", sans-serif;
  text-transform: uppercase;
  letter-spacing: .5vw;
  font-weight: 400;
  font-size: 2.225em;
  line-height: 1.1;
  max-width: 30em; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  font-family: "lino-type sabon", "caslon", serif;
  max-width: 30em; }

blockquote {
  font-family: "franklin-gothic-extra-compre", sans-serif;
  max-width: 15em; }

cite {
  display: inline-block; }

/* LINKS */
a {
  color: #069; }

a:hover {
  color: #035; }

/* HORIZONTAL RULE */
hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 4em 0; }

/* HELPER */
.sectionhead {
  font-family: "franklin-gothic-extra-compre", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.25em;
  line-height: 1.25;
  letter-spacing: .2em;
  text-align: center;
  margin-bottom: 3em; }

.meta {
  display: block;
  font-size: .8em;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 2em 0; }

/* TYPE SPECIMEN */
.mainhead {
  font-size: 5em;
  color: #4b7a75;
  margin-bottom: 0; }

.subhead {
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0; }

/* BUTTONS */
button,
.button {
  font-size: inherit;
  font-family: "franklin-gothic-extra-compre", sans-serif;
  text-transform: uppercase;
  letter-spacing: .5vw;
  background-color: #069;
  color: #fff;
  padding: 1em 2em;
  display: inline-block;
  margin: .5em;
  border-radius: .1em;
  border: 1px solid #069;
  text-decoration: none; }
  button:hover,
  .button:hover {
    background-color: #035;
    color: #fff;
    border-color: #035; }
  button.alt,
  .button.alt {
    color: #035;
    background-color: #fff; }
    button.alt:hover,
    .button.alt:hover {
      background-color: #035;
      color: #fff;
      border-color: #035; }
  button.dark,
  .button.dark {
    color: #fff;
    background-color: transparent;
    border-color: #fff; }
    button.dark:hover,
    .button.dark:hover {
      background-color: #fff;
      color: #000; }

/* Responsive Images */
img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1050px; } }

@media (min-width: 1050px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1250px; } }

/* Grid */
.row .column {
  margin-bottom: 2%; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%; }
    .row.swap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .row.center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .column {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1%; }
    .column.one-half {
      width: 48%; }
    .column.one-third {
      width: 31.3333%; }
    .column.two-thirds {
      width: 64.6666%; }
    .column.one-fourth {
      width: 23%; } }

.row.demo .column {
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
  text-align: center; }

/* site header */
.site-header, .site-footer {
  background-color: #4b7a75;
  padding: .7em 1em .5em 1em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .site-header h1, .site-footer h1 {
    font-family: "franklin-gothic-extra-compre", sans-serif;
    font-size: 1.5em;
    margin: .65em 0 0 0;
    /* to adjust baseline */
    text-transform: uppercase;
    letter-spacing: .25em; }
  .site-header a, .site-footer a {
    color: #fff;
    text-decoration: none; }

/* site header */
.site-header {
  background-color: transparent;
  position: absolute;
  width: 100%; }

/* site footer */
.site-footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

/* site navigation */
.site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center; }
  .site-nav ul {
    background: rgba(255, 0, 0, 0.5);
    display: none;
    margin: 0;
    padding: 0;
    list-style: none; }
  .site-nav a {
    display: block;
    padding: 1em; }
  .site-nav.active {
    position: fixed;
    height: 100%;
    z-index: 100;
    background: red; }
    .site-nav.active ul {
      display: block; }

/* MENU BUTTON */
.menu-button {
  position: absolute;
  top: 1.75em;
  right: 2em; }

section {
  padding: 6em 0;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center; }

/* hero sections */
.hero {
  background-color: black;
  padding: 6em 1em;
  color: #fff; }
  .hero h2 {
    font-size: 4em;
    margin: 0; }

/* Layout section */
@media (min-width: 768px) {
  .split-crossed .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .split-crossed .image-block {
    width: 50%; }
  .split-crossed .text-block {
    width: 50%;
    -webkit-transform: translateX(-2.5em);
    -ms-transform: translateX(-2.5em);
    transform: translateX(-2.5em); } }

@media (min-width: 768px) {
  .split-crossed-reverse .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .split-crossed-reverse .image-block {
    width: 50%; }
  .split-crossed-reverse .text-block {
    width: 50%;
    -webkit-transform: translateX(2.5em);
    -ms-transform: translateX(2.5em);
    transform: translateX(2.5em); } }
